h1 {
  text-align: center;
  color: #324a5e;
}

.landing-page-main-logo {
  width: 300px;
}

.header-main-logo {
  width: 100px;
}

.enter-btn {
  background-color: #84dbff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: #324a5e;
  font-weight: bold;
}

.enter-btn:hover {
  background-color: #54c0eb;
  color: #ffffff;
}


.landing-page-subtitle {
  text-align: center;
  color: #fd8469;
}

.landing-page-container {
  height: 100vh;
  display: grid;
  gap: 3rem;
  place-content: center;
  justify-items: center;
}